{% set host = pillar['nginx'].hosts[host_name] %}

server {
    listen *:80;


    server_name {{ host.server_name }} www.{{ host.server_name }};

    root   {{ host.web }};



    index index.html index.htm index.php index.cgi index.pl index.xhtml;



    error_page 400 /error/400.html;
    error_page 401 /error/401.html;
    error_page 403 /error/403.html;
    error_page 404 /error/404.html;
    error_page 405 /error/405.html;
    error_page 500 /error/500.html;
    error_page 502 /error/502.html;
    error_page 503 /error/503.html;
    recursive_error_pages on;
    location = /error/400.html {

        internal;
    }
    location = /error/401.html {

        internal;
    }
    location = /error/403.html {

        internal;
    }
    location = /error/404.html {

        internal;
    }
    location = /error/405.html {

        internal;
    }
    location = /error/500.html {

        internal;
    }
    location = /error/502.html {

        internal;
    }
    location = /error/503.html {

        internal;
    }
    error_log {{ host.error_log }};
    access_log {{ host.access_log }} combined;

    ## Disable .htaccess and other hidden files
    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }
{% if host.static  %}
    location /static/ {
        gzip_static on;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";
        gzip_types application/x-javascript text/css;
        root {{ host.web }};
    }
{% endif %}
{% if host.media %}
    location /media/ {
        gzip_static on;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";
        gzip_types application/x-javascript text/css;
        root {{ host.web }};
    }
{% endif %}

{% if host.doc %}
    location /doc/ {
        gzip_static on;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";
        gzip_types application/x-javascript text/css;
        root {{ host.web }};
    }
{% endif %}

{% if host.coverage %}
    location /coverage/ {
        gzip_static on;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";
        gzip_types application/x-javascript text/css;
        root {{ host.web }};
    }
{% endif %}

    # location = / { rewrite ^ /i18n/setlang/ permanent; }
    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/uwsgi_{{ host_name }}.sock;
    }
    location /debug/ {
        rewrite ^/debug/(.*)$  /$1  break;
        include uwsgi_params;
        proxy_pass http://localhost:8000;
        proxy_intercept_errors off;
    }
    proxy_intercept_errors on;
}
