{% extends "base.html" %}

{% load i18n %}

{% block maincontent %}
    <form method="get" action=".">
        <table>
            <tbody>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Search"></td>
                </tr>
            </tbody>
        </table>
    </form>

    {% if query %}
        <!-- Begin faceting. -->
        <h2>{% trans "By Service" %}</h2>

        <div class="span3">
            <dl>
                {% for facet_name, facet in facets.fields.items %}
                    <dt>{% trans facet_name %}</dt>
                    {% for facet_value in facet %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets={{ facet_name }}_exact:{{ facet_value.0|urlencode }}">{{ facet_value.0 }}</a> ({{ facet_value.1 }})</dd>
                    {% endfor %}
                    {% if not facet %}
                        <p>{% blocktrans %} No {{ facet_name }} facets{% endblocktrans %}</p>
                    {% endif %}
                {% endfor %}
            </dl>
        </div>
        <!-- End faceting -->

        <!-- Display results... -->
        <div class="span9">
            {% for result in page.object_list %}
                <div class="search_result">
                    <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h3>

                    <p>{{ result.object.body|truncatewords:80 }}</p>
                </div>
            {% empty %}
                <p>{% trans "Sorry, no results found." %}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock maincontent %}

{% block title %}
    {% trans "Advanced Search" %}
{% endblock title %}

{% block pagetitle %}
    {% trans "Advanced Search" %}
{% endblock pagetitle %}
