<form method="get" action=".">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>

{% if query %}
    <!-- Begin faceting. -->
    <h2>By Service</h2>

    <div>
        <dl>
            {% if facets.fields.services %}
                <dt>Service</dt>
                {# Provide only the top 5 authors #}
                {% for service in facets.fields.services|slice:":5" %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=service_exact:{{ service.0|urlencode }}">{{ service.0 }}</a> ({{ service.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No service facets.</p>
            {% endif %}
        </dl>
    </div>
    <!-- End faceting -->

    <!-- Display results... -->
    {% for result in page.object_list %}
        <div class="search_result">
            <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h3>

            <p>{{ result.object.body|truncatewords:80 }}</p>
        </div>
    {% empty %}
        <p>Sorry, no results found.</p>
    {% endfor %}
{% endif %}
