<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n compress %}
{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{LANGUAGE_CODE}}" xml:lang="{{LANGUAGE_CODE}}">
    <head>
    <meta name="robots" content="{% block robot %}index follow{% endblock %}" />
        <meta name="description" content="{% block description %}Ombrelloni e lettini{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}ombrelloni rimini, lettini riccione{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{%block pagetitle %}Ombrelloni{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
        <!-- link href='http://fonts.googleapis.com/css?family=Henny+Penny&amp;subset=latin-ext' rel='stylesheet' type='text/css' /-->
        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/leaflet.js"></script>
        {% endcompress %}

        {% compress js %}
            {% block specific_js %}{% endblock specific_js %}
        {% endcompress %}

        {% compress css %}
            <link type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" rel="Stylesheet" />
            <link type="text/css" href="{{ STATIC_URL }}css/leaflet.css" rel="Stylesheet" />
            <link type="text/css" href="{{ STATIC_URL }}css/bagni.css" rel="Stylesheet" />
        {% endcompress %}

        <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.ie.css" /><![endif]-->
    </head>
    <body>
        <div id="header"></div>
            <div id="container" class="row">
                <div id="content" class="col-lg-12">
                    {% if messages %}
                        <div id="messages">
                            {% for message in messages %}
                                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form action="{% url 'django.views.i18n.set_language' %}" method="post"
                        class="navbar-form pull-right">
                        {% csrf_token %}
                        <ul id="languages" class="nav">
                            {% for lang in LANGUAGES %}
                                {% ifnotequal lang.0 LANGUAGE_CODE %}
                                    <li>
                                        <button name="language" type="submit" class="btn btn-link" value="{{ lang.0 }}">
                                            <img src="{{ STATIC_URL }}img/flag_{{ lang.0 }}.png" alt="{{ lang.1 }}" />
                                        </button>
                                    </li>
                                {% endifnotequal %}
                            {% endfor %}
                       </ul>
                    </form>
                    <h1 id="content-title">{% block title %}{% endblock %}</h1>
                    <div id="content-body">{% block main_content %}{% endblock %}</div>
                </div>
                <div class="clearfix"></div>
            <div id="footer"></div>
        </div>
    </body>
</html>
