{% extends "base.html" %}

{% load l10n i18n thumbnail %}

{% block main_content %}

    {% with object.image_set.all|first as bagno_image %}
        {% thumbnail bagno_image.image "200x200" crop="center" as thumb %}
            <img class="bagno-image"
                width="{{thumb.width}}"
                height="{{thumb.height}}"
                src="{{ thumb.url }}"
                alt="{{ bagno_image.image.title }}" />
        {% endthumbnail %}
    {% endwith %}


    {% if object.services.all %}
        {% regroup object.services.all by category as categorized_services %}
        <h2>{% trans Services %}</h2>
        <ul>
        {% for categorized_service in categorized_services %}
            {% for service in categorized_service.list %}
                {% if forloop.first %}
                    <li>{{ service.get_category_display }}<ul>
                {% endif %}
                <li><a href="{{ service.get_filtered_search_url }}">{{ service.name }}</a></li>
                {% if forloop.last %}
                    </ul></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}

    <h2>{% trans Contacts %}</h2>
    <p>{{ object.address }} - {{ object.city }}</p>
    <p>{{ object.mail }}</p>
    <p>{{ object.tel }}</p>
    <p>{{ object.fax }}</p>
    <p>{{ object.site }}</p>
    <div id="bagno_map" style="width: 600px; height: 400px"></div>
{% endblock main_content %}

{% block specific_js %}
    {% if object.point.x and object.point.y %}
        <script type="text/javascript">
        var map
        $(function() {
            map = L.map('bagno_map').setView([{{ object.point.y|unlocalize }}, {{ object.point.x|unlocalize }}], 13);
            L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
                attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                subdomains: ['otile1','otile2','otile3','otile4'],
                maxZoom: 18
            }).addTo(map);
            var marker = L.marker([{{ object.point.y|unlocalize }}, {{ object.point.x|unlocalize }}]).addTo(map);
            marker.bindPopup("<strong>{{ object.name }}</strong> <em>{{ object.address }}</em><br>").openPopup();
        });
        </script>
    {% endif %}
{% endblock specific_js %}

{% block pagetitle %}
    {% if object.number %}
        {{ object.number }} -
    {% endif %}
    {{ object.name }}
{% endblock pagetitle %}

{% block title %}
    {% if object.number %}
        {{ object.number }} -
    {% endif %}
    {{ object.name }}
{% endblock title %}
