{% extends "base.html" %}

{% load i18n %}

{% block main_content %}
    <table>
        {% for service in object_list %}
            {% for bagno in service.bagno_set.all %}
                <tr>
                    <td>{{ bagno.name }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ bagno.address }}</td>
                    <td>{{ bagno.municipality.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock main_content %}

{% block title %}{% trans 'Bagni' %}{% endblock title %}

{% block pagetitle %}{% trans 'Bagni' %}{% endblock pagetitle %}
