{% extends "base.html" %}

{% load i18n %}

{% block main_content %}
    {% with object.municipalities.all as municipalities %}
        {% for municipality in municipalities %}
            <h2>{{ municipality.name }}</h2>
            {% with municipality.bagni.all as bagni %}
                <ul>
                {% for bagno in bagni %}
                    <li><a href="{{ bagno.get_absolute_url }}">{{ bagno.name }}</a></li>
                {% empty %}
                    <li>{% trans "No bagno in this municipality" %}</li>
                {% endfor %}
                </ul>
            {% endwith %}
        {% empty %}
            <p>{% trans "No municipality in this district" %}</p>
        {% endfor %}
    {% endwith %}
{% endblock main_content %}

{% block title %}{% trans "District" %} {{ object.name }}{% endblock title %}

{% block pagetitle %}{% trans "District" %} {{ object.name }}{% endblock pagetitle %}
