{% extends "base.html" %}

{% load i18n %}

{% block main_content %}
    <ul>
        {% for municipality in object_list %}
            <li>
                <a href="{{ municipality.get_absolute_url }}">{{ municipality.name }}</a>
            </li>
        {% empty %}
            <li>{% trans 'No municipality' %}</li>
        {% endfor %}
    </ul>
{% endblock main_content %}

{% block title %}{% trans 'Municipalities' %}{% endblock title %}

{% block pagetitle %}{% trans 'Municipalities' %}{% endblock pagetitle %}
