{% extends "base.html" %}

{% load i18n %}

{% block main_content %}
    <form action="" method="get">
        <input type="text" id="search_q" name="q" value="{{ query|default_if_none:"" }}" />
        <input type="submit" value="{% trans "Search" %}"/>
    </form>
    {% if has_get %}
        <div class="row-fluid">
            <div class="span4">
                {% for facet_title, facet_values in facets.items %}
                    {% if facet_values.active or facet_values.available %}
                        <h3>{{ facet_title }}</h3>
                    {% endif %}
                    {% if facet_values.active %}
                        <h4>{% trans "Active filters" %}</h4>
                    {% endif %}
                    {% for facet in facet_values.active %}
                        <div class="active-filter"><a href="?{{ facet.url }}">{{ facet.name }}</a></div>
                    {% endfor %}
                    {% if facet_values.available %}
                        <h4>{% trans "Available filters" %}</h4>
                    {% endif %}
                    {% for facet in facet_values.available %}
                        <div class="available-filter">
                            <a href="?{{ facet.url }}">{{ facet.name }}</a>
                            ({{ facet.count }})
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="span8">
                {% if hits %}
                    <h2>{{ count }} {% trans "results for" %} {{ query }}</h2>
                {% endif %}
                {%  for hit in hits %}
                    <div><a href="{{ hit.get_absolute_url }}">{{ hit.name }}</a></div>
                {% empty %}
                    <div>{% trans "No results for the given search" %}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block title %}{% trans "Search" %}{% endblock title %}

{% block pagetitle %}{% trans "Search" %}{% endblock pagetitle %}
